.always-on_form-embed button[type='submit'],
.form-partners-popup_embed [data-hsfc-id='Renderer'] .hsfc-Button {
  background: rgb(245, 210, 115) !important;
  color: rgb(17, 24, 39) !important;
  font-size: 1.125rem !important;
  line-height: 1.4em !important;
  font-weight: 600 !important;
}

[data-hsfc-id='Renderer'] .hsfc-DropdownOptions__List__ListItem {
  display: flex;
  align-items: center;
}
:root {
  --hsf-global__font-family: 'Figtree', 'sans-serif';
  --hsf-global__font-size: 18px;
  --hsf-global__color: #4a4a4a;
  --hsf-global-error__color: rgba(229, 21, 32, 1);
  --hsf-background__background-color: rgba(247, 245, 240, 1);

  /* Button */
  --hsf-button__font-family: 'Figtree', 'sans-serif';
  --hsf-button__font-size: 18px;
  --hsf-button__color: #111111;
  --hsf-button__background-color: #ffcc00;
  --hsf-button__border-radius: 100px;
  --hsf-button__padding: 1rem 2rem;
  --hsf-button__box-shadow: none;

  /* Background */
  --hsf-background__border-style: solid;
  --hsf-background__border-radius: 20px;
  --hsf-background__border-width: 1px;
  --hsf-background__padding: 24px;

  /* Error */
  --hsf-erroralert__font-family: 'Figtree', 'sans-serif';
  --hsf-erroralert__font-size: 14px;
  --hsf-erroralert__color: rgba(229, 21, 32, 1);

  /* Field Input */
  --hsf-field-label-requiredindicator__color: rgba(229, 21, 32, 1);
  --hsf-field-input__background-color: #fff;
  --hsf-field-input__placeholder-color: #4a4a4a;
  --hsf-field-input__border-radius: 20px;
  --hsf-field-input__padding: 0.75rem;

  /* Field Checkbox */
  --hsf-field-checkbox__padding: 0.5rem;

  /* Field Radio */

  --hsf-field-radio__padding: 0.5rem;
}
