@import './modules/accordion.css';
@import './modules/swiper.css';
@import './modules/buttons.css';

@import 'swiper/css';
@import 'swiper/css/navigation';
@import 'swiper/css/pagination';

[data-copy-button] {
  [data-label] {
    display: none;
  }

  &:hover {
    [data-label] {
      display: block;
    }
  }
}

.ai-compare-dot {
  transition: all 0.3s ease-in-out;
}

.ai-compare-dot.active {
  opacity: 100;
  width: 32px;
}

/* Pricing Cards styles */
.pricing-cards_package-trigger.is-active {
  .pricing-cards_package-radio {
    background-color: #007aff;
    border-color: #007aff;
  }
}

/* Testimonials Swiper */
.testimonials_swiper-nav-btn.swiper-button-disabled {
  border-color: rgba(157, 157, 157, 1);
  color: rgba(157, 157, 157, 1);
}

.testimonials_card {
  .testimonials_image {
    transition: transform 400ms cubic-bezier(0.215, 0.61, 0.355, 1);
  }

  @media (hover: hover) {
    &:hover .testimonials_image {
      transform: scale(1.05);
    }
  }
}

/* Text Fill */
[data-fill-text] .line {
  color: transparent;
  background-image: linear-gradient(
    to right,
    rgba(17, 17, 17, 1) var(--fill, 0%),
    rgba(17, 17, 17, 0.2) var(--fill, 0%)
  );
  background-clip: text;
  -webkit-background-clip: text;
}

/* Featurre Card 2 hover gradient */
.feature-cards2_card:hover .feature-cards2_hover-gradient {
  opacity: 100;
}

/* Nav */
.nav_link-wrap {
  .nav_dropdown-icon {
    transition: transform 200ms ease-out;
  }

  &:hover .nav_dropdown-icon {
    transform: rotate(-180deg);
  }
}
