.midmarket-guides_accordion_item.is-open {
  .midmarket-guides_accordion_vert-line {
    display: none;
  }

  h4 {
    font-weight: 700;
  }

  .midmarket-guides_accordion_horizontal-line,
  .midmarket-guides_accordion_vert-line {
    background-color: black;
  }
}

.agents-accordion_item {
  &.is-open .agents-accordion_chevron {
    transform: rotate(180deg);
  }
}

.faq_item.is-open .faq_chevron {
  transform: rotate(-180deg);
}

.assessment-result_question-item:not(.is-answered) .icon-success {
  display: none;
}
.assessment-result_question-item:not(.is-answered) .icon-alert {
  display: block;
}

.assessment-result_questions-accordion-item.is-open .btn-icon:not(.no-rotate) {
  transform: rotate(180deg);
}

.assessment-result_questions-accordion-item.is-open .hide-when-open {
  display: none;
}
.assessment-result_questions-accordion-item.is-open .show-when-open {
  display: block;
}
.ai-workflow_list-item.is-open .btn .workflow-chevron {
  transform: rotate(-180deg);
}
