.blog-rte.w-richtext p + h2 {
  margin-top: 2.5rem;
}
.blog-rte.w-richtext p + h3 {
  margin-top: 2rem;
}
.blog-rte.w-richtext p + h4 {
  margin-top: 1.5rem;
}

.blog-rte p {
  margin-bottom: 1rem;
}
